@charset UTF-8;

body{
	font-size: 16px;
	line-height: 1.6;
	color: #333; 
	background-color:#e5e5e4;
	font-family:  YuGothic,'Yu Gothic', Osaka, sans-serif, Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
}

header{
	height: 90px;
	width: 100px;
}

.header-left{
	float:left;
	padding:10px;
}

/*
.header-right {	
	float:right;
}

.header-right img{
	padding:0 10px;
	float:left;
}
*/


.top-wrapper{
	background-image:url(images/main-image.png);
	background:cover;
	text-align:center;
	margin:0 auto;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.main-logo{
	margin: 120px auto;

}

.menu-wrapper{
	width:100%;
	height:500px;
	margin:0 auto;
	box-sizing:border-box;
	text-align:center;
}

.heading{
	padding-top:30px;
	padding-bottom:20px;
}

.menus{
	text-align:center;
}

.menu{
	width:25%;
	float:left;
}

.image{
}

.title{
	display:block;
	margin:10px auto;
}

.menu p{
	display:block;
	font-size:14px;
    padding:10px 20px;
}

footer{
	text-align: center;
}

